.Post{
    margin: 20px;
    box-shadow: 3px 5px 5px lightpink;
    padding: 10px;
    text-align: center;
    align-items: center;
    display: inline-grid;
    margin-top: 70px;
}
.Post:hover{
    /*background-color:pink;*/
    transform: scale(1.1);
    transition: all ease 500ms;
}
.Author{
    color: deeppink;
}